.Sidebar{
    position: absolute;
    height: 100%;
    width: 18%;
    background-color: #ddffff;
    border: solid;
    border-color: black;
    border-width: 1px;
    overflow: scroll;
    scrollbar-width: thin;
}
.web-title{
    position: relative;
    font-size: 22.5px;
    top: -10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.web-navi{
    position: relative;
    height: 30px;
    width: 75%;
    margin-top: 25px;
    padding: 5px;
    margin-left: 25px;
    background-color: #ddffff;
    /* border-radius: 2vh; */
    border-right:solid rgb(171, 171, 211); 
    border-width: 2px;

}
.web-navi:hover{
    background-color: #70d3d0;
    box-shadow: 0 0 5px red;
}
.create-course{
    text-decoration: none;
}