.topclass{
    position: fixed;
    left: 18.2%;
    top: 2%;
    height:35px;
    width: 100%;
    background-color: #dbdce7;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.searchbar{
    width: 200px;
    position: relative;
    left: 10px;
}
.search{
    position: relative;
    left: 10px;
    padding: 5px;
    border-radius: 1vh;
}
.profile-logo{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: aqua;
    border-radius: 25px;
    
    text-align: center;
    left: 1000px;
    top: -27.5px;
    box-shadow: 0px 0 10px black;
   
}
/* .profile-logo :hover{
    
    color: red;
    
    
} */
.profile{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 40px;
}
.log-out{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 15px;
    left: 1050px;
}
