.demopos{
    position: relative;
    top: 25vh;
    background-color: aquamarine;
    padding: 70px;
    padding-top: 40px;
    margin-top: -20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15vh;
    box-shadow: 10px ;
}
.login-button{
    width: 120px;
    height: 35px;
    position: relative;
    left: 70px;
    top: -120px;
    border-radius: 5vh;
    
}
.box {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #9bc9ff;
    border: none;
    border-radius: 25px;
    text-align: center;
  }

  #username, #pass{
    border: 2px solid #0097e6;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 15px 45px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    text-align: center;
    transition: 250ms width ease, 250ms border-color ease;
  }
  /************** 
     On Hover
  ***************/
  #username:hover, #pass:hover{
    width: 220px;
    box-shadow: 0px 0px 10px #6fb98f;
  }
  /************** 
     On Focus
  ***************/
  #username:focus, #pass:focus{
    width: 250px;
    border-color: #6fb98f;
  }
  /************** 
   Submit Button
  ***************/
  #submit{
    border: 2px solid #2ecc71;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 15px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 200;
    transition: 250ms background ease;
    -webkit-transition: 250ms background ease;
    -moz-transition: 250ms background ease;
    -o-transition: 250ms background ease;
  }
  /************** 
     On Hover
  ***************/
  #submit:hover{
    background: #2ecc71;
  }
    