.center-container{
    position: relative;
    left: 375px;
    top: 150px;
    height: 250px;
    width: 600px;
    border-color: black;
    border: solid;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.join-course-input{
    padding: 10px;
    width: 300px;
    position: relative;
    left: 140px;
    
}
.join-button{
    position: relative;

    top: -250px;

    padding: 5px;
    width: 125px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 225px;
}
.main-text{
    position: relative;
    left:220px
}

.ai-button{
    position: relative;

    top: 60px;

    padding: 5px;
    width: 125px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 225px;
}